---
BasedOnStyle: Microsoft
---
Language: Cpp
ColumnLimit: 120
NamespaceIndentation: All
AlignAfterOpenBracket: DontAlign
PackConstructorInitializers: Never
AlwaysBreakTemplateDeclarations: true
---

